  <button routerLink="/home">Home</button>
  <a routerLink="/Login">S'inscrire</a><br>
  <div>
    <input type="text" [(ngModel)]="usernam" name="recherche" #recherche="ngModel" required>
    <button type="button" (click)="searchUtil()">Chercher</button>



    <div *ngIf="utilisateur != null && (util.length) >0" >	usernam : {{utilisateur.username}} <br>
    Passwor : {{utilisateur.password}} <br>
    adressmail : {{utilisateur.adressmail}} <br>
    adresse Local : {{utilisateur.adress}} <br>
  </div>
  <div *ngIf="utilisateur == null && utilNonTrouve">
    <!-- Afficher un message si aucun candidat n'a été trouvé -->
    Aucun candidat trouvé avec le nom : {{usernam}}
    </div>
  <div *ngIf="recherche.invalid && recherche.touched">
  <div *ngIf="recherche.errors!['required']"> choisir un candidat !!</div>
  </div>
  </div>
  <br>
  <div class="container">
      <div class="text">
        <div>Reference :</div>
        <input type="number" name="id" [(ngModel)]="logins.id" #id="ngModel"><br>
        Nom d'utilisateur :*
      </div>
      <form  >
        <div class="form-row">
            <div class="input-data">
              
              <input type="text" name="username" [(ngModel)]="logins.username" #username="ngModel" minlength="6" maxlength="30" required>
          <div *ngIf="username.invalid && username.touched">Nom d'utilisateur  est obligatoire !!!
          <div *ngIf="username.errors!['minlength']" >taille minumum est 6 caractere et le maximum 30 caractere
    
          </div>
        </div>
              <div class="underline"></div>
              <label for="">Mot de passe :*</label>
            </div>
            <div class="input-data">
              <input type="password" name="password" [(ngModel)]="logins.password" required minlength="8" #password="ngModel">
              <div *ngIf="logins.password && logins.password.length < 8" class="alert alert-danger">
                Le mot de passe doit contenir au moins 8 caractères.
              </div><br>
            
              <label for="">Numero Portable :*</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
              <input type="number" name="numP" [(ngModel)]="logins.numP" required min="10000000" max="99999999" #numP="ngModel">
              <div *ngIf="numP.invalid && numP.touched">
                <div *ngIf="numP.errors?.['required']">Le numero tel est requis.</div>
                <div *ngIf="numP.errors?.['min'] || numP.errors?.['max']">Le numero tel doit contenir exactement 8 chiffres.</div>
              </div>
            </div>
            <div>
              <div class="underline"></div>
              <label for="">Email Address :*</label>
            </div>
            <div class="input-data">
              <input type="string" name="adressmail" [(ngModel)]="logins.adressmail"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" #adressmail="ngModel" required>
              <div *ngIf="adressmail.invalid && adressmail.touched" > L'adresse e-mail est obligatoire</div>
                <div *ngIf="adressmail.errors!['pattern']">
                  L'adresse e-mail n'est pas valide.
                
              </div>
            
              <div class="underline"></div>
              <label for="">Localistaion :*</label>
            </div>
        </div>
        <div class="form-row">
        <div class="input-data textarea">
          <input type="string" name="adress" [(ngModel)]="logins.adress" #adress="ngModel" maxlength="30" required>
          <div *ngIf="adress.invalid && adress.touched">l'adresse local est obligatoire</div>
        
                  <div>
                    </div>
                  
                  <div>* Champ obligatoire</div>
                  <button type="submit">Save</button>
              </div>
            </div>
      </form>
  <table  border="1">
    <tr >
      <td><b>Reference</b></td>
      <td><b>Nom d'utilisateur</b></td>
      <td><b>Mot de passe</b></td>
      <td><b>Numero Portable</b></td>
      <td><b>Email Address</b></td>
      <td><b>Localistaion</b></td>
          <td style="background-color: brown;"></td>
      
    </tr>
      <tr>
          <tr *ngFor="let usr of util" >

            <td>{{usr.id}}</td>  
              <td>{{usr.username}}</td>
              <td>{{usr.password}}</td>
          
                  
                
              <td>{{usr.numP}}</td>
              <td>{{usr.adressmail}}</td>
              <td>{{usr.adress}}</td>
              <td><button type="submit" (click)="deleteUtilisateur(usr)" >Supprimer</button></td>
              <td><button type="submit" (click)="editItem(usr)"  >Modifier</button></td>

              
      </tr>
  </table>
