<button routerLink="/home">Acceuil</button>
<a routerLink="/Login">S'inscrire</a><br>
<div class="container">
  <div class="text">
    <div>Reference :</div>
    <input type="number" name="id" [(ngModel)]="logins.id" #id="ngModel"><br>
    Nom d'utilisateur :*
  </div>
  <form form (ngSubmit)="login()" #formutilisat="ngForm" >
     <div class="form-row">
        <div class="input-data">
           
           <input type="text" name="username" [(ngModel)]="logins.username" #username="ngModel" minlength="6" maxlength="30" required>
      <div *ngIf="username.invalid && username.touched">Nom d'utilisateur  est obligatoire !!!
      <div *ngIf="username.errors!['minlength']" >taille minumum est 6 caractere et le maximum 30 caractere

      </div>
    </div>
           <div class="underline"></div>
           <label for="">Mot de passe :*</label>
        </div>
        <div class="input-data">
          <input type="password" name="password" [(ngModel)]="logins.password" required minlength="8" #password="ngModel">
          <div *ngIf="logins.password && logins.password.length < 8" class="alert alert-danger">
            Le mot de passe doit contenir au moins 8 caractères.
          </div><br>
        
           <label for="">Numero Portable :*</label>
        </div>
     </div>
     <div class="form-row">
        <div class="input-data">
          <input type="number" name="numP" [(ngModel)]="logins.numP" required min="10000000" max="99999999" #numP="ngModel">
          <div *ngIf="numP.invalid && numP.touched">
            <div *ngIf="numP.errors?.['required']">Le numero tel est requis.</div>
            <div *ngIf="numP.errors?.['min'] || numP.errors?.['max']">Le numero tel doit contenir exactement 8 chiffres.</div>
          </div>
        </div>
        <div>
           <div class="underline"></div>
           <label for="">Email Address :*</label>
        </div>
        <div class="input-data">
          <input type="string" name="adressmail" [(ngModel)]="logins.adressmail"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" #adressmail="ngModel" required>
          <div *ngIf="adressmail.invalid && adressmail.touched" > L'adresse e-mail est obligatoire</div>
            <div *ngIf="adressmail.errors!['pattern']">
              L'adresse e-mail n'est pas valide.
            
          </div>
        
           <div class="underline"></div>
           <label for="">Localistaion :*</label>
        </div>
     </div>
     <div class="form-row">
     <div class="input-data textarea">
      <input type="string" name="adress" [(ngModel)]="logins.adress" #adress="ngModel" maxlength="30" required>
      <div *ngIf="adress.invalid && adress.touched">l'adresse local est obligatoire</div>
    
              <div>
                </div>
              
              <div>* Champ obligatoire</div>
           </div>
        </div>
        <button type="submit"  [disabled]="formutilisat.valid">Enregistrerr</button>
        <button type="submit" routerLink="/listUtilisateur">Afiicher liste d'Utilisateur</button>
        

  </form>
 





<!-- <h2 style="background-color: blue;">Connexion</h2>
<form (ngSubmit)="login()" style="background-color: rgb(17, 177, 230);">
  <div>
    <label>Nom d'utilisateur :</label>
    <input type="text" name="username" [(ngModel)]="logins.username">
  </div>
  <div>
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" [(ngModel)]="logins.password" required minlength="8" #password="ngModel">
    <div *ngIf="logins.password && logins.password.length < 8" class="alert alert-danger">
      Le mot de passe doit contenir au moins 8 caractères.
    </div>
  </div>
  
  <div>
    <label for="numP">Numero Portable :</label>
    <input type="number" name="numP" [(ngModel)]="logins.numP" required min="10000000" max="99999999" #numP="ngModel">
    <div *ngIf="numP.invalid && numP.touched">
      <div *ngIf="numP.errors?.['required']">Le numero tel est requis.</div>
      <div *ngIf="numP.errors?.['min'] || numP.errors?.['max']">Le numero tel doit contenir exactement 8 chiffres.</div>
    </div>
  </div>
  <div>
    <label for="adress">Localistaion :</label>
    <input type="string" name="adress" [(ngModel)]="logins.adress" #adress="ngModel" maxlength="30" required>
    <div *ngIf="adress.invalid && adress.touched">l'adresse local est obligatoire</div>
  </div>
  <div>
    <label for="adresmail">adress email :</label>
    <input type="string" name="adressmail" [(ngModel)]="logins.adressmail"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" #adressmail="ngModel" required>
    <div *ngIf="adressmail.invalid && adressmail.touched" > L'adresse e-mail est obligatoire</div>
      <div *ngIf="adressmail.errors!['pattern']">
        L'adresse e-mail n'est pas valide.
      
    </div>
  </div>
  <div><button type="submit">Enregistrerr</button></div>

</form>  -->

